.technology-container {
    display: grid;
    grid-column: span 3;
    gap: 2em 2em;
}

.technology-container h1,
.technology-container p {
    grid-column: span 3;
}

.technology-container .technology {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    width: auto;
    border: 1px solid #ff0;
    background-image: linear-gradient(300deg, grey, silver);
    padding: 1em;
}

.technology-article {
    display: flex;
    flex-direction: row;
}

.technology-article .sidebar {
    width: 30%;
}

.technology-article .sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.technology-article .article {
    width: auto;
}

@media (max-width: 767px) {
    .technology-article .sidebar {
        display: none;
    }

    .technology-container h1,
    .technology-container p {
        grid-column: span 1;
    }
}
